{% block content %}
<h1></h1>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
<p class="card-text"> <font size="5" color="red">Congrats on your purchase!</font></p>
<p class="card-text">Number Of Items: 1</p>
<p class = "card-text">Price: $215.99</p>
                <p>Discount: %10</p>
<p class = "card-text">tax: %0.13</p>
<p class = "card-text">Subtotal: $219.67</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}